
.b{
    text-align: center;
    margin-top: 20px;
    
}

body{
    background-color: white;
}
 
#out{
    float: right;
    font-size: 20px;
    border-radius:5px;
    padding: 5px;
    margin: 5px;
    color:   #71A9F7;
    border: solid gray ;
}
#back{
    font-size: 20px;
    border-radius:5px;
    padding: 5px;
    margin: 5px;
    color: #71A9F7;
    border: solid gray ;

}
.fun{
    text-align: center;
    font-size: 30px;
}
.form{
    background-color: #C6D8FF;
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    border: solid gray ;
    

}
.rate{
    background-color: #71A9F7;
    width:30%;
    margin: 100px auto;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius:5px;
    border: solid gray;
    
}
.block{
    border: solid gray;
    color: red;
}
#block{
    border: solid gray;
}
#block1{
    border: solid gray;

}
#log{
    border: solid gray;
}
#funny{
    border: solid gray;
}
#notfun{
    border: solid gray;
}









